.footer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    padding: 1rem;
    font-size: 14px;
    font-weight: 500;
    line-height: 1rem;
    color: $grey;
    border-top: 1px solid $lightcian;
    @media screen and (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding: 2rem 1.5rem 1.5rem;
    }
    @media screen and (min-width: 1120px) {
        padding: 2rem 2rem 1.25rem;
    }
    &__copy{
        margin: 0;
        width: 100%;
        text-align: center;
        @media screen and (min-width: 768px) {
            text-align: start;
            flex: 0 0 max-content;
        }
    }
    &__privacy{
        text-decoration: none;
        color: inherit;
        &:hover{
            color: $black;
        }
        @media screen and (min-width: 768px) {
            flex: 0 0 max-content;
        }
    }
    
    &__info{
        margin: 0;
        width: 100%;
        text-align: center;
        @media screen and (min-width: 768px) {
            flex: 0 0 max-content;
            max-width: 220px;
            text-align: end;
        }
        @media screen and (min-width: 1120px) {
            max-width: 330px;
        }
    }
}
