.header{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 16px;
    background-color: #fff;
    @media screen and (min-width: 768px) {
        justify-content: flex-start;
        padding: 19px 24px;
        column-gap: 40px;
    }
    @media screen and (min-width: 1120px) {
        display: none;
    }
    &__contacts{
        display: none;
        @media screen and (min-width: 768px) {
            margin-left: auto;
        }
    }
    &__btn{
        display: block;
        width: 40px;
        height: 40px;
        padding: 0;
        border: none;
        text-decoration: none;
        background-color: transparent;
        &:hover{
            opacity: 0.7;
        }
    }
    &__icon-btn{
        width: 100%;
        height: 100%;
    }
}

.header-info{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    column-gap: 16px;
    @media screen and (min-width: 768px) {
        column-gap: 42px;
    }
    &__logo{
        line-height: 0;
        @media screen and (min-width: 768px) {
            position: relative;
            &::before{
                content: "";
                position: absolute;
                top: 50%;
                left: -21px;
                transform: translate(0, -50%);
                width: 2px;
                height: 32px;
                border-radius: 2px;
                background-color: #EAEAEA;
            }
        }
    }
}

.logo{
    &:focus{
        outline: 1px solid rgb(255, 62, 121);
    }
    &__pic{
        width: 97px;
    }
}

.header-contacts{
    @media screen and (min-width: 768px) {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        column-gap: 16px;
        // padding-right: 20px;
    }
}

.header-links{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    column-gap: 16px;
    @media screen and (min-width: 768px) {
        padding-left: 0px;
    }
    &::before{
        content: "";
        position: absolute;
        top: 50%;
        left: -21px;
        transform: translate(0, -50%);
        width: 2px;
        height: 32px;
        border-radius: 2px;
        background-color: #EAEAEA;
    }
}