.article{
    padding: 1.25rem 0 2rem;
    @media screen and (min-width: 768px) {
        padding: 1.5rem 0 2rem;
    }
    @media screen and (min-width: 1120px) {
        padding: 2.6rem 0;
    }
    &__header{
        @media screen and (min-width: 1120px) {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: space-between;
        }
    }
    &__info{
        display: none;
    }
    &__nav{
        position: relative;
        &::after{
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
            width: 1.5rem;
            height: 2.75rem;
            background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.00) 100%);
        }
    }
    &__title{
        position: relative;
        padding: 0 1rem;
        font-size: 1.75rem;
        font-weight: 700;
        color: $black;
        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(0, -50%);
            width: 0.25rem;
            height: 2.5rem;
            background-color: $cian;
            border-radius: 0 0.25rem 0.25rem 0;
        }
        @media screen and (min-width: 1120px) {
            padding: 0 2rem;
            flex-grow: 1;
        }
    }
}

.article-info{
    @media screen and (min-width: 1120px) {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        column-gap: 2rem;
        padding-right: 2rem;
    }
}
.article-info-link{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    column-gap: 0.5rem;
    text-decoration: none;
    color: $black;
    &:hover{
        opacity: 0.7;
    }
    &__icon{
        width: 2.5rem;
    }

}
.article-nav{
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    padding: 22px 1rem;
    overflow: auto;
    @media screen and (min-width: 768px) {
        padding: 1.75rem 1.5rem;
    }
    @media screen and (min-width: 1120px) {
        padding: 8px 2rem 10px;
        flex-wrap: wrap;
        row-gap: 6px;
    }
    &__link{
        padding: 8px 1rem;
        flex-shrink: 0;
        font-weight: 500;
        letter-spacing: -0.2px;
        color: #7E7E82;
        text-decoration: none;
        border-radius: 6px;
        border: 2px solid transparent;
        &:active,
        &--active{
            border-color: #B8FFEC;
            background-color: $white;
        }
        &:hover{
            color: $black;
        }
    }
}

.article-content{
    @media screen and (min-width: 768px) {
        padding: 0px 1.5rem 0rem;
    }
    @media screen and (min-width: 1120px) {
        padding: 0px 2rem 0px;
    }
    &--hidden{
        .article-content__more{
            display: inline-flex;
        }
        .article-content__text{
            height: 90px;
            overflow: hidden;
            @media screen and (min-width: 768px) {
                height: 160px;

            }
        }
    }
    &__columns{
        @media screen and (min-width: 768px) {
            display: grid;
            grid-template-columns: calc(50% - 48px) 1fr;
            column-gap: 48px;

        }
    }
    &__more{
        display: none;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-start;
        column-gap: 8px;
        margin-top: 10px;
        font-weight: 500;
        letter-spacing: -0.2px;
        &:hover{
            opacity: 0.7;
        }
        &-icon{
            width: 1.5rem;
            height: 1.5rem;
        }
    }
    &__descr{
        padding: 0 1rem 10px;
        @media screen and (min-width: 768px) {
            padding: 0;
        }
    }
    &__preview{
        line-height: 0;
    }
    p{
        margin: 0;
        font-size: 0.875rem;
        font-weight: 400;
        line-height: 1.125rem;
        letter-spacing: 0.2px;
        @media screen and (min-width: 768px) {
            line-height: 1.25rem;
        }
        & + p{
            margin-top: 1.125rem;
            @media screen and (min-width: 768px) {
                margin-top: 1.25rem;
            }
        }
    }
}