body{
}
.container{
    width: 300px;
    margin: 30px auto;
    background-color: grey;
}
h1{
    text-align: center;
    font-weight: 400;
}
.picture{
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover
}
/*
 .picture--1{
    background-image: url('../images/article.jpg');
}
*/
.picture--1{
    /* background-image: url('../images/b1.png'); */
} 
