html{
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: $black;
}
*{
    box-sizing: border-box;
    outline-color: $pink;
}
h1, h2, h3, h4 {
    margin: 0;
}
a{
    transition: $trans;
}
button{
    padding: 0;
    border: none;
    transition: $trans;
    background-color: transparent;
    cursor: pointer;
}

img{
    width: 100%;
}