html{
    font-family: "TT Lakes", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: $black;
}
body::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    background-color: $white;
    opacity: 0;
    transition: $trans;
}
*{
    box-sizing: border-box;
}
*:focus-within{
    outline-color: $pink;
}
h1, h2, h3 {
    margin: 0;
}
a{
    transition: $trans;
}
button{
    padding: 0;
    border: none;
    transition: $trans;
    background-color: transparent;
    cursor: pointer;
}

img{
    width: 100%;
}